.section-header-1 {
    overflow: hidden;
    text-align: center;
  }
  
.section-header-1::before,
.section-header-1::after {
    background-color: #d6d3d1;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }
  
.section-header-1::before {
    right: 0.5em;
    margin-left: -50%;
  }
  
.section-header-1::after {
    left: 0.5em;
    margin-right: -50%;
  }

@media print {
    .section-header-1 {
      overflow: hidden;
      text-align: center;
    }
    
  .section-header-1::before,
  .section-header-1::after {
      background-color: #d6d3d1;
      content: "";
      display: inline-block;
      height: 2px;
      position: relative;
      vertical-align: middle;
      width: 50%;
    }
    
  .section-header-1::before {
      right: 0.5em;
      margin-left: -50%;
    }
    
  .section-header-1::after {
      left: 0.5em;
      margin-right: -50%;
    }
}

/* .section-header-2::before,
.section-header-2::after {
    content: "";
    position: absolute;
    background-color: #d6d3d1;
    width: 4px;
    height: 100%; 
    left: 0;
} */